<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="contaniner">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>添加数据</h3>
            </div>
            <div class="panel-body">
                <form action="/products" method="POST" role="form">
                    <legend>填写数据</legend>

                    <div class="form-group">
                        <label for="">编号</label>
                        <input type="text" class="form-control" id="" name="pid" placeholder="Input field">
                    </div>
                    <div class="form-group">
                        <label for="">名称</label>
                        <input type="text" class="form-control" id="" name="pname" placeholder="Input field">
                    </div>
                    <div class="form-group">
                        <label for="">价格</label>
                        <input type="text" class="form-control" id="" name="pprice" placeholder="Input field">
                    </div>
                    <div class="form-group">
                        <label for="">描述</label>
                        <input type="text" class="form-control" id="" name="pdesc" placeholder="Input field">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>

    </div>

    </div>
</body>

</html>